TEI {
    margin : 10px 25px;
    font-family : Georgia, serif;
    line-height : 1.5;
}

/* HEADER */
[_tag="teiHeader"] {
    display: block !important;
}
[_tag="title"] {
    font-weight: 800;
}
[_tag="resp"] {
    font-weight: 800;
}
[_tag="respStmt"] [_tag="persName"] {
    display: block;
}
[_tag="publicationStmt"] {
    font-weight: 800;
}

[_tag="institution"] {
    font-weight: 400;
}
[_tag="repository"] {
    font-weight: 400;
}

[_tag="sourceDesc"]::before {
    content: "Metadaten";
    font-weight: 800;
    display: block;
    margin-top: 1.5em;
}
[_tag="sourceDesc"] [_tag="bibl"]::before {
    content: "Konkordanz: "
}
[_tag="sourceDesc"] [_tag="bibl"][type="jaffe"]::before {
    content: "Konkordanz (JL): "
}

/* colors, italics, bold, etc. */
[_tag="head"] {
    font-weight: 800;
    display: block;
    margin-top: 1.5em;
}
[_tag="diploPart"] {
    font-style: italic;
}

[_tag="placeName"] {
    color: blue;
    font-weight: 400;
}
[_tag="orgName"] {
    color: green;
    font-weight: 400;
}
[_tag="persName"] {
    color: green;
    font-weight: 400;
}

[_tag="authen"] {
    color: orange;
    font-weight: 400;
}
[_tag="date"] {
    color: blue;
    font-weight: 400;
}


[_tag="msIdentifier"] {
    font-weight: 400;
}
[_tag="eventName"] {
    color: green;
    font-weight: 400;
}



[_tag="item"] {
    display: list-item;
    list-style-type: "👉";
    padding-inline-start: 1ch;
}


/* Bibl */
[_tag="bibl"] {
    color: magenta;
    font-weight: 400;
}
[_tag="p"] [_tag="bibl"] {
    display: inline;
}

/* Autenticity and issued  */
[_tag="authen"] [_tag="p"]::before {
    content: "Echtheitskriterium: ";
}
[_tag="issued"] [_tag="placeName"]::before {
    content: "Ausstellungsort: ";
}
[_tag="issued"] [_tag="date"]::before {
    content: "Ausstellungsdatum: ";
}

/* Legal actors and Refpoint */
[_tag="legalActor"] {
    color: green;
    font-weight: 400;
}
[_tag="diploDesc"] [_tag="p"] [_tag="legalActor"]::before {
    content: "LegalActor: ";
}
[_tag="diploDesc"] [_tag="p"] [_tag="legalActor"][type="issuer"]::before {
    content: "Aussteller: ";
}
[_tag="diploDesc"] [_tag="p"] [_tag="legalActor"][type="recipient"]::before {
    content: "Empfänger: ";
}
[_tag="objectType"] {
    color: red;
    font-weight: 400;
}
[_tag="objectType"]::before {
    content: "Refpoint: ";
}

/* Transmission/Sources */
[_tag="div"][type="msSources"] [_tag="listBibl"] [_tag="bibl"][type="original"]::before {
    content: "Original: ";
}
[_tag="div"][type="msSources"] [_tag="listBibl"] [_tag="bibl"][type="msCopy"]::before {
    content: "Kopie: ";
}
[_tag="div"][type="msSources"] [_tag="listBibl"] [_tag="bibl"][type="print"]::before {
    content: "Druck: ";
}