
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
01_Template_Regest.xml
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
Formierung Europas_Beispiele_Datenbank/Schoenfeld_V11_IB.xml
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
CEI_TEI_Schema/tei_cei_formierung_edited.odd
Schönfeld Regesten/02_Schönfeld_Template.xml
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
CEI_TEI_Schema/tei_cei_formierung_edited.odd
.DS_Store
CEI_TEI_Schema/tei_cei_formierung_edited_alt.rng
.DS_Store
.DS_Store
.DS_Store
.DS_Store
Datenbank/Schönfeld Regesten Datenbank/fe_00003.xml
.DS_Store
.DS_Store
.DS_Store
Übungsordner Aachen Jakob Panne/01_Template_Regest Kopie.xml
.DS_Store
Übungsordner Aachen Jakob Panne/01_Template_Regest Kopie 2.xml
.DS_Store
.DS_Store
